.DataOwnerCard {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 16px 16px;
  border: 1px solid #d7dbe0;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  border-radius: 24px;
  gap: 22px;
  background-color: #f6f8f8;
  margin-top: 2rem;

  &__tag {
    border-radius: 0px 0px 8px 8px;
    padding: 4px 16px 4px 8px;
    background-color: #002d63;
    font-size: 14px;
    line-height: 12.6px;
    color: white;
    width: fit-content;
    margin: auto;

    img {
      width: 1rem;
      height: 1rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    gap: 8px;

    img {
      height: 60px !important;
      width: 60px !important;
    }

    &__content {
      display: flex;
      flex-direction: column;
      color: #23366f;
      font-size: 18px;
      line-height: 25.2px;
      padding: 0px 10px;
      gap: 5px;
    }
    &__contentPrices {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
    &__title {
      font-size: 18px;
      line-height: 25.2px;
    }

    &__price {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }
    &__deductible {
      text-transform: uppercase;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0px 4px 0px;
      border: 1px solid #c7ceda;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      font-size: 14px;
      line-height: 12.6px;
      color: #747e8c;

      &__attribute {
        color: #333942;
        line-height: 19.6px;
        font-weight: 600;
      }
    }
  }
}
