.Deductible {
  display: flex;
  justify-content: center;
  background-color: #eceeef;
  height: 38px;
  border-radius: 8px;
  padding: 4px;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    color: #2167ae;
    font-size: 16px;
    font-weight: 600;
    line-height: 14.4px;
    text-align: center;

    &--active {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #2167ae;
      border-radius: 8px;
      padding: 8px 16px 8px 16px;
      color: white;
    }
  }
}
