.CardPlans {
  border: 8px solid #56b6b44d;
  border-color: #56b6b44d;
  border-radius: 8px;
  margin: auto;
  width: 250px;
  position: relative;
  border-top: 13px solid #56b6b44d;
  border-bottom: 13px solid #56b6b44d;

  &__recommended {
    border-radius: 24px;
    padding: 4px 16px 4px 16px;
    width: fit-content;
    background-color: #002d63;
    color: white;
    height: 22px;
    font-size: 14px;
    line-height: 12.6px;
    position: absolute;
    top: -16px;
    right: 55px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #56b6b4;
    color: white;
    padding: 28px 0px 16px 0px;
    height: 102px;
    border-radius: 8px 8px 0px 0px;
    margin-top: -5px;

    &__time {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 10.8px;
    }
    &__type {
      font-size: 18px;
      line-height: 17.2px;
      margin-top: 8px;
    }
    &__value {
      font-size: 24px;
      font-weight: 600;
      line-height: 28.8px;
    }
  }

  &__content {
    padding: 20px 16px 20px 16px;
    gap: 16px;
    border: 1px solid #56b6b4;

    &__name {
      font-size: 14px;
      line-height: 12.6px;
      color: #747e8c;
    }
    &__detail {
      font-size: 14px;
      font-weight: 600;
      line-height: 19.6px;
      margin-bottom: 16px;
    }
    &__seeMore {
      font-size: 14px;
      font-weight: 600;
      color: #2167ae;
      .icon {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0px 0px 0px;
    border: 1px solid #56b6b4;
    border-top: 0px;
    border-radius: 1px 1px 8px 8px;
    margin-bottom: -5px;

    &__name {
      font-size: 12px;
      line-height: 10.8px;
      margin-bottom: 8px;
    }
    &__value {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      font-weight: 600;
      line-height: 18.2px;
      color: #23366f;
      .discount {
        color: #ed7c6e;
        font-size: 10px;
        line-height: 14px;
      }
    }
    &__valueDiscount {
      color: #adb6c2;
      font-size: 14px;
      font-weight: 600;
      text-decoration: line-through;
      line-height: 19.6px;
    }
    &__valueType {
      font-size: 14px;
      line-height: 19.6px;
      color: #23366f;
    }
    &__ribbon {
      background-color: #fdf686;
      padding: 4px 20px 4px 20px;
      font-size: 12px;
      font-weight: 700;
      line-height: 15.6px;
      margin-top: 5px;
      position: relative;
      height: 24px;

      .left {
        height: 24px;
        width: 6px;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: -0.4px;
      }
      .right {
        height: 24px;
        width: 6px;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: -0.4px;
      }
    }
    &__selected {
      background-color: #f6f8f8;
      padding: 8px;
      margin-top: 10px;
      width: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 19.6px;
      border-radius: 1px 1px 8px 8px;

      &--active {
        background-color: #2167ae;
        color: white;
      }
    }
  }
}
.SharedPlan {
  display: flex;
  justify-content: center;
  color: #2167ae;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  gap: 8px;
  margin-top: 10px;
  img {
    width: 16px;
    height: 16px;
  }
}
.DiscountAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5cbc88;
  background-color: #5cbc881a;
  border-radius: 4px;
  height: 26px;

  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  color: #5cbc88;
}


