.titleForm {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #23366f;
}

.textLabel {
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
  color: #4d5765;
  margin-top: -10px;
}

.message {
  height: 91px;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #dde4e3;
  background-color: #f6f8f8;
  display: flex;
  gap: 8px;

  &__TextMessage {
    height: 59px;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.8px;
  }

  span {
    color: #5b89d3;
  }
}

:where(z-boolean-icon, z-checkbox, z-radio-select, z-switch)::part(input) {
  width: 20px;
  border-color: #5b89d3;
}

:where(z-boolean-icon, z-checkbox, z-radio-select, z-switch)::part(label) {
  text-wrap: nowrap;
  width: 60px;
}
