.StepForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 36px;
  height: 4.4rem;
  background-color: #f6f8f8;
  gap: 8px;

  .iconStep {
    width: 295px;
    height: 16px;
    margin: auto;
  }
  p {
    display: flex;
    font-size: 16px;
    line-height: 22.4px;
    gap: 8px;
    color: #23366f;

    span {
      font-weight: 600;
    }
  }
}
