.SureExtraPaymentMethodPage {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border-radius: 8px;
  gap: 10px;
  background-color: #ebf3ff;
  margin-top: 2rem;

  &__header {
    display: flex;
    padding: 16px;
    height: 56px;
    width: 100%;
    gap: 12px;
    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 20.8px;
      color: #45484a;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    padding-top: 0;

    img {
      width: 1rem;
      height: 1rem;
      margin-left: 10px;
    }

    .arrowPosition {
      transform: rotate(180deg);

    }

    &__title {
      padding: 1rem;
      padding-bottom: 0;
      p {
        padding: 0px 8px 0px 8px;
        font-weight: 500;
        font-size: 18px;
        color: #2167ae;
        gap: 12px;
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0px 4px 0px;
      border: 1px solid #c7ceda;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      font-size: 14px;
      font-weight: 600;
      line-height: 12.6px;
      color: #45484a;

      &__attribute {
        color: #74797a;
        line-height: 19.6px;
        font-weight: 400;
      }
    }

    &__showMore {
      display: flex;
      align-items: center;
      height: 40px;
    }
    .contentValue {
      height: 57px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;

      &__title {
        font-size: 12px;
        font-weight: 400;
        line-height: 10.8px;
        color: #45484a;
      }

      &__value {
        font-weight: 600;
        font-size: 18px;
        line-height: 25.2px;
        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 19.6px;
        }
      }
    }
  }
}
