nav {
  position: fixed;
  width: 23.5rem;
  background-color: #23366f;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.container {
  width: 20rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.container-logos {
  display: flex;
}

@media (max-width: 376px) {
  .container-contacto {
    display: none;
  }
}

@media (min-width: 376px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .container-contacto {
    display: flex;
    .contacto {
      display: flex;
    }
    .menu {
      display: flex;
    }
  }
}
