.coverageContainer {
  position: fixed;
  background-color: black;
  width: 375px;
  height: 100%;
  z-index: 20;
  margin-top: -80px;

  &__content {
    position: absolute;
    right: 0;
    width: 90%;
    height: 100%;
    background-color: white;
    overflow: scroll;
  }

  .PageActions {
    left: 38px;
    width: 90%;
  }
}
