.ResultSimulation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.ResultSimulationConfigPlan {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border-radius: 8px;
  gap: 10px;
  border: 1px solid #c1c0e7;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e9f7;
    border-radius: 8px 8px 0 0;
    display: flex;
    padding: 28px 0px 16px 0px;
    height: 100px;
    width: 100%;
    gap: 5px;

    &__time {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      line-height: 10.8px;
      color: #2167ae;
    }
    &__type {
      font-size: 24px;
      line-height: 28.8px;
      color: #23366f;
    }
    &__value {
      font-size: 1rem;
      font-weight: 400;
      line-height: 22.4px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    padding-top: 0;

    img {
      width: 1rem;
      height: 1rem;
      margin-right: 6px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0px 4px 0px;
      border: 1px solid #c7ceda;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      font-size: 14px;
      font-weight: 400;
      line-height: 12.6px;
      color: #747e8c;

      &__attribute {
        color: #333942;
        line-height: 19.6px;
        font-weight: 600;
        color: #45484a;
      }
    }
  }
}

.options {
  display: flex;
  justify-content: space-between;
  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__share {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
