.Toast {
  height: 64px;
  border-radius: 8px;
  padding: 1rem;
  background-color: rgb(211, 238, 238);
  display: flex;
  align-items: center;

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #23366f;
  }

  &__message {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #4d5765;
  }
}
