.Page {
  padding-top: 5rem;

  .PageContent {
    padding: 24px 28px 40px 28px;
    margin-bottom: 96px;

    .PageTop {
      display: flex;
      padding: 12px 0px 12px 0px;
      align-items: center;

      .Tag {
        position: absolute;
        right: 0px;
        background-color: #e2ec9c;
        color: #23366f;
        padding: 10px;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        text-align: center;
        height: 34px;
      }
    }

    h1 {
      font-weight: 600 !important;
      font-size: 24px !important;
      line-height: 28.8px !important;
      color: var(--z-color--heading--dark);
      margin-left: 8px;
      margin-bottom: 0px;
    }
    .IconTitle {
      height: 32px;
      width: 32px;
    }
    .Banner {
      width: 100%;
      height: 80px;
      margin-top: 1rem;
    }

    .Section {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      gap: 16px;

      .title {
        font-size: 1rem;
        font-weight: 600;
        line-height: 22.4px;
        color: #23366f;
      }
    }
  }

  .PageActions {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 96px;
    box-shadow: 0px -4px 13.5px 0px #00000014;
    padding: 28px;
    width: 100%;
    z-index: 10;
    background-color: white;
    gap: 16px;

    button {
      width: 100%;
    }
  }
}
p {
  margin-bottom: 0;
}

//CLASES DE ESTILOS DE LA LIBRERIA
.btn {
  display: block;
  width: 100%;
  border-radius: 61px;
  font-size: 1rem;
  line-height: 1rem;
  color: white;
  font-weight: 500;
  padding: 0px 24px 0px 24px;
  height: 40px;

  &-negative {
    background-color: #bc5446;
    color: white;
  }
  &-primary {
    background-color: #2167ae;
    color: white;
  }
  &-outline {
    background-color: white;
    color: #2167ae;
    border: 1.5px solid #2167ae;
  }
  &-disabled {
    background-color: #eceeef;
    color: #c7ceda;
    border: 0;
    width: auto;
  }
}

.Subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: #2167ae;
}

.TextLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: #4d5765;
  margin-bottom: 0;
}

.SubtitleSm {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: #23366f;
  &__checkboxLink {
    color: #52c4f1;
  }
}

.SubtitleLink {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #2167ae;
}

.SubtitleMd {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #23366f;
}

.titlemd {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #23366f;
}

.Text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22.4px;
  color: #333942;
  margin-top: -10px;
}

.textParrafo {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22.4px;
  color: #4d5765;

  &__spanText {
    font-weight: 700;
    color: #2167ae;
  }
}

.FormProduct {
  display: flex;
  flex-direction: column;
  width: 318px;
  gap: 16px;
  .textDescription {
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    color: #747e8c;
  }
}

.lineSeparation {
  border: solid 1px #dde4e3;
}

.CardsOptions {
  margin-top: 10px;
  display: ruby-text;
  height: 230px;

  &__cardItem {
    border: #d8e8ff solid 1px;
    width: 150px;
    height: 102px;
    border-radius: 8px;
    padding: 12px;
    gap: 12px;
  }

  &__cardItem:hover {
    background-color: #5b89d3;
  }
}

.PageContractsContainer {
  height: 477px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 120px;
    height: 120px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #4d5765;
  }
}

//inputs radio select

:where(z-boolean-icon, z-checkbox, z-radio-select, z-switch)::part(label) {
  margin-bottom: 20px;
}

:where(z-boolean-icon, z-checkbox, z-radio-select, z-switch)::part(input) {
  width: 20px !important;
  border-color: #5b89d3 !important;
}

:where(z-boolean-icon, z-checkbox, z-radio-select, z-switch)::part(
    placeholder
  ) {
  grid-area: l;
  font-size: 14px;
  font-weight: 400;
  color: #4d5765;
}

.downloadVoucher {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2167ae;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  gap: 8px;
  margin-top: 2rem;
}

.MessageBlueData {
  height: 104px;
  border-radius: 1rem;
  padding: 16px 24px 24px 24px;
  display: flex;
  gap: 8px;
  background-color: #ebf3ff;
  border: 1.5px solid #92b6fb;
  margin-top: 2rem;

  img {
    width: 48px;
    height: 48px;
  }
}

.PageActionsPendingQuote {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 28px;
  width: 100%;
  z-index: 10;
  background-color: white;
  gap: 16px;

  button {
    width: 100%;
  }
}

input[type='checkbox'],
input[type='radio'] {
  width: 20px;
  height: 20px;
}

.codeDiscount {
  display: flex;
  align-items: center;
  gap: 10px;

  input {
    height: 40px;
  }
  span {
    position: absolute;
    top: 10px;
  }
}

.contentForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__radioSelect {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.swiper {
  width: 100%;
}

.swiper-3d {
  perspective: 280px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
}
