.ContractsCard {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: 1px solid #d7dbe0;
  border-radius: 16px;
  gap: 22px;
  background-color: #f6f8f8;
  margin-top: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 16px;
    height: 56px;
    border-radius: 16px 16px 0px 0px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0px 4px 0px;
      border: 1px solid #c7ceda;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      color: #333942;

      &__attribute {
        color: #333942;
        line-height: 22.4px;
        font-weight: 600;
      }
    }

    &__showMore {
        display: flex;
        align-items: center;
        height: 40px;
    }
  }
}
