.OptionsContent {
    background-color: #f6f8f8;
    display: grid;
    min-height: 48px;
    padding: 8px;
    gap: 1rem;
  
    &__Title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
    }
  
    &__Label {
      height: 22px;
      color: #333942;
      font-weight: 400;
      font-size: 1rem;
      line-height: 22.4px;
      margin-bottom: 0;
    }
  
    &__Input {
      display: grid;
      gap: 24px;
    }
  }